.game-card {
  margin: 10px 0;
}

.game-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: 15px 0;
}

.game-image {
  width: 100%;
  height: 600px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid #e0e0e0;
}

.game-details {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

.game-detail-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}
